<div class="espacio-container">
    <h2>Gestión de Espacios de Parqueadero</h2>
  
    <div *ngIf="esAdministrador">
      <div class="espacio-form">
        <div class="form-group">
          <label for="ubicacion" class="label">Ubicación:</label>
          <input type="text" id="ubicacion" class="input" [(ngModel)]="nuevoEspacio.ubicacion" name="ubicacion" placeholder="Ubicación">
        </div>
  
        <div class="form-group">
          <label for="tarifa" class="label">Tarifa:</label>
          <select [(ngModel)]="nuevoEspacio.tarifaId" id="tarifa" class="input" name="tarifa">
            <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">
              {{ tarifa.nombreTarifa }} - {{ tarifa.precio | currency:'USD' }} / {{ tarifa.intervalo }}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="disponible" class="label">Disponible:</label>
          <select id="disponible" class="input" [(ngModel)]="nuevoEspacio.disponible" name="disponible">
            <option [ngValue]="true">Disponible</option>
            <option [ngValue]="false">No Disponible</option>
          </select>
        </div>
  
        <button (click)="nuevoEspacio.id ? actualizarEspacio() : agregarEspacio()">
          {{ nuevoEspacio.id ? 'Actualizar Espacio' : 'Agregar Espacio' }}
        </button>
      </div>
  
      <table class="espacios-table">
        <thead>
          <tr>
            <th>Ubicación</th>
            <th>Disponibilidad</th>
            <th>Tarifa</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let espacio of espacios">
            <td>{{ espacio.ubicacion || 'No especificada' }}</td>
            <td [ngClass]="{'disponible': espacio.disponible, 'no-disponible': !espacio.disponible}">
              {{ espacio.disponible ? 'Disponible' : 'No Disponible' }}
            </td>
            <td>
              <!-- Llama a la función del componente para obtener la información de la tarifa -->
              {{ obtenerNombreTarifa(espacio.tarifaId) }}
            </td>
            <td>
              <button (click)="seleccionarEspacio(espacio)">Editar</button>
              <button (click)="eliminarEspacio(espacio.id!)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Vista de cliente: Solo visualización -->
    <div *ngIf="!esAdministrador">
      <table class="espacios-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ubicación</th>
            <th>Disponibilidad</th>
            <th>Tarifa</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let espacio of espacios">
            <td>{{ espacio.id }}</td>
            <td>{{ espacio.ubicacion || 'No especificada' }}</td>
            <td [ngClass]="{'disponible': espacio.disponible, 'no-disponible': !espacio.disponible}">
              {{ espacio.disponible ? 'Disponible' : 'No Disponible' }}
            </td>
            <td>
              {{ obtenerNombreTarifa(espacio.tarifaId) }}
            </td>
            <td>
              <button *ngIf="espacio.disponible" class="btn-adquirir">Adquirir</button>
              <button *ngIf="!espacio.disponible" disabled>No disponible</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  