<!-- Sección exclusiva para Administrador -->
<div *ngIf="esAdministrador">
  <h2>Gestión de Contratos de Arrendamiento</h2>
  <div *ngIf="contratos.length === 0">
    <p>No se encontraron contratos.</p>
  </div>
  <table *ngIf="contratos.length > 0">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Espacio de Parqueo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{ contrato.usuario?.nombre || 'Usuario no encontrado' }}</td>
        <td>{{ contrato.espacioParqueadero?.ubicacion || 'Espacio no encontrado' }}</td>
        <td>{{ contrato.fechaInicio | date: 'mediumDate' }}</td>
        <td>{{ contrato.fechaFin | date: 'mediumDate' }}</td>
        <td>
          <button (click)="eliminarContrato(contrato.id!)" class="btn-eliminar">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Sección exclusiva para Cliente -->
<div *ngIf="!esAdministrador">
  <h3>Mis Contratos</h3>
  <div *ngIf="contratos.length === 0">
    <p class="no-contratos">Usted por el momento no tiene contratos.</p>
  </div>
  <table class="contratos-table" *ngIf="contratos.length > 0">
    <thead>
      <tr>
        <th>Espacio de Parqueo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{ contrato.espacioParqueadero?.ubicacion || 'Espacio no encontrado' }}</td>
        <td>{{ contrato.fechaInicio | date: 'mediumDate' }}</td>
        <td>{{ contrato.fechaFin | date: 'mediumDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>
