
<!--------------------------------Encabezado ------------------------------>
<header class="header">
  <div class="container">
    <div class="header-content">
      <nav class="nav">
        <ul>
          <li><a routerLink="/inicio">Inicio</a></li>
          <li><a routerLink="/iniciarSesion">Iniciar Sesion</a></li>
          <li><a routerLink="/registro">Registro</a></li>
        </ul>
      </nav>
  
    </div>
  </div>
</header>


<router-outlet></router-outlet>


  <!---------------------- Pie de página -------------------->
  <footer class="footer">
    <div class="footer-column">
      <p>🎧 Atención al cliente 24/7: (+593)980524806</p>
      <p>Email: AcaEndRed057gmail.com</p>
      <div class="social-icons">
        <a href="https://facebook.com/tu-pagina" target="_blank">
          <img src="assets/img/facebook.PNG" alt="Facebook">
        </a>
        <a href="https://instagram.com/tu-perfil" target="_blank">
          <img src="../../assets/img/instagram.PNG" alt="Instagram">
        </a>
        <a href="https://youtube.com/tu-canal" target="_blank">
          <img src="../../assets/img/youtube.PNG" alt="YouTube">
        </a>
        <a href="https://wa.me/tu-numero" target="_blank">
          <img src="../../assets/img/whatsapp.PNG" alt="WhatsApp">
        </a>
        <a href="https://tiktok.com/tu-perfil" target="_blank">
          <img src="../../assets/img/tik-tok.PNG" alt="TikTok">
        </a>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>PREGUNTAS FRECUENTES</h3>
        <ul>
          <li>Centro de ayuda en línea</li>
          <li>Política de devolución</li>
          <li>Términos y condiciones</li>
          <li>Propiedad intelectual</li>
        </ul>
      </div>
    </div>
    <p>® 2019 - 2028 <br> AcademiaEnRed <br> Todos los derechos reservados</p>
  </footer>
  