
<!--------------------------------Encabezado ------------------------------>
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <img src="../assets/img/parking.jpg" alt="Chromatools" />
      </div>
      <nav class="nav">
        <ul>
          <li><a routerLink="/inicio">INICIO</a></li>
          <li><a routerLink="/features">PARQUEADERO</a></li>
          <li><a routerLink="/resources">Resources</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>

        </ul>
      </nav>
      <div class="language">
        <button class="language-btn">🌐 EN</button>
      </div>
      <div class="auth-buttons">
        <a routerLink="/iniciarSesion" class="sign-in-btn">Iniciar Sesión</a>
        <a routerLink="/registro" class="sign-up-btn">Registro</a>
       
      </div>
    </div>
  </div>
</header>


<router-outlet></router-outlet>

