<section id="inicio">

<section class="safety-section">
  <h3>ATENCIÓN DE SINIESTROS</h3>
  <h1>Tu seguridad <span>es importante</span></h1>
  <p>Nuestros estacionamientos cuentan con una póliza de responsabilidad civil, de respaldo cuando ocurren daños comprobados dentro del parqueadero.</p>
  <div class="car-image">
    <img src="../../../assets/img/carro1-removebg-preview.png" alt="Auto en el estacionamiento">
  </div>
  <p class="note">NOTA: No nos haremos responsables por objetos de valor dejados dentro del vehículo.</p>
</section>

<section class="features-section">
  <div class="feature">
    <img src="../../../assets/img/TAR-removebg-preview.png" alt="Icono tarifas">
    <h3>Las mejores tarifas</h3>
  </div>
  <div class="feature">
    <img src="../../../assets/img/visto-removebg-preview.png" alt="Icono seguridad">
    <h3>Estacionamientos seguros</h3>
  </div>
  <div class="feature">
    <img src="../../../assets/img/bandera-removebg-preview.png" alt="Icono ubicación">
    <h3>Ubicados en toda la ciudad</h3>
  </div>
</section>


<section class="stats-section">
  <div class="stat">
    <p class="number">7</p>
    <p class="label">AÑOS DE EXPERIENCIA</p>
  </div>
  <div class="stat">
    <p class="number">40</p>
    <p class="label">ESTACIONAMIENTOS</p>
  </div>
  <div class="stat">
    <p class="number">2 mil</p>
    <p class="label">CELDAS ACTIVAS A NIVEL NACIONAL</p>
  </div>
  <div class="stat">
    <p class="number">920,329</p>
    <p class="label">VEHÍCULOS MOVILIZADOS AL AÑO</p>
  </div>
</section>

</section>
