<section id="inicio">
<p> PARQUEADERO</p>





<!--------------------------------------FOOTER-------------------------------------->
<footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
      
      <div class="social-icons">
        <img src="../../../assets/imgs/facebook.png" alt="facebook" >
        <img src="../../../assets/imgs/instagram.jpg" alt="instagram">
        <img src="../../../assets/imgs/youtube.png" alt="youtube">
       
        <img src="../../../assets/imgs/tik-tok.png" alt="tiktok">
        <img src="../../../assets/imgs/gorjeo.png" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>Soporte Tecnico</h3>
        <ul>
         
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="../../../assets/imgs/visa.jpg" alt="Visa" >
          <img src="../../../assets/imgs/paypal.png" alt="Paypal" >
          <img src="../../../assets/imgs/tarjeta.png" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2018- 2030 - PARKING T.E - Todos los derechos reservados - </p>
  </footer>
</section>
