<div class="container">
  <h2>Gestión de Horarios</h2>

  <!-- Tabla de Horarios -->
  <table>
    <thead>
      <tr>
        <th>Día</th>
        <th>Hora de Apertura</th>
        <th>Hora de Cierre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios">
        <td>{{ horario.diaSemana }}</td>
        <td>{{ horario.horaApertura }}</td>
        <td>{{ horario.horaCierre }}</td>
        <td>
          <button (click)="editarHorario(horario)" class="editar">Editar</button>
          <button (click)="eliminarHorario(horario.id!)" class="eliminar">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para mostrar el formulario -->
  <button (click)="mostrarFormulario = true" class="btn-toggle-form">Agregar Horario</button>

  <!-- Formulario de Agregar/Editar Horario -->
  <div *ngIf="mostrarFormulario" class="formulario">
    <h3>{{ editandoHorario ? 'Editar Horario' : 'Agregar Horario' }}</h3>
    <form (ngSubmit)="guardarHorario()">
      <div>
        <label for="diaSemana">Día de la Semana:</label>
        <input id="diaSemana" [(ngModel)]="nuevoHorario.diaSemana" name="diaSemana" required  />
      </div>
      <div>
        <label for="horaApertura">Hora de Apertura:</label>
        <input
          id="horaApertura" [(ngModel)]="nuevoHorario.horaApertura"  name="horaApertura" type="time"required/>
      </div>
      <div>
        <label for="horaCierre">Hora de Cierre:</label>
        <input
          id="horaCierre"
          [(ngModel)]="nuevoHorario.horaCierre"
          name="horaCierre"
          type="time"
          required
        />
      </div>
      <div class="form-buttons">
        <button type="submit" class="guardar">Guardar</button>
        <button type="button" class="cancelar" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
